.hero-container{
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-inline: 3rem;
    text-align: center;
}

.hero-container h1{
    font-size: var(--fs-xl);
}

.hero-container p{
    font-size: var(--fs-medium);
}

.motion-wrapper{
    width: fit-content;
    position: relative;
    overflow: hidden;
}